<template>
  <div class="header">
    <p>TODO list</p>
    <md-button
      @click="addButtonClick"
      class="md-icon-button md-raised md-primary add-button"
    >
      <md-icon>add</md-icon>
    </md-button>
  </div>
</template>

<script>
export default {
  props: ["onAddTodo"],
  methods: {
    addButtonClick(e) {
      return this.onAddTodo(e);
    },
  },
};
</script>

<style lang="scss">
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 470px;
  position: relative;
  p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
  }
  .add-button {
    position: absolute;
    right: 0;
  }
}
</style>
