<template>
  <md-dialog :md-active="isOpen">
    <md-dialog-title>{{ titleText }}</md-dialog-title>
    <div class="dialog-container" v-if="isEmptyTodoData">
      <md-field :class="errors.title && 'md-invalid'">
        <label>Название</label>
        <md-input
          v-model="initTodoData.title"
          required
          @focus="errors.title = false"
        ></md-input>
        <span class="md-error"
          >Количество символов должно быть не менее 3-ех и не более 64-ех</span
        >
      </md-field>
      <md-field :class="errors.description && 'md-invalid'">
        <label>Описание</label>
        <md-input
          v-model="initTodoData.description"
          required
          @focus="errors.description = false"
        ></md-input>
        <span class="md-error"
          >Количество должно быть не более 300-от символов</span
        >
      </md-field>
    </div>
    <md-dialog-actions>
      <md-button class="md-accent" @click="onCloseTodo">Отмена</md-button>
      <md-button class="md-primary" @click="onAddTodo">{{
        confirmText
      }}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  props: ["isOpen", "onAccept", "onClose", "initTodoData", "editMode"],
  data() {
    return {
      errors: {
        title: false,
        description: false,
      },
    };
  },
  methods: {
    onAddTodo() {
      if (
        this.initTodoData.title.length < 3 ||
        this.initTodoData.title.length > 64
      ) {
        this.errors.title = true;
      }
      if (this.initTodoData.description.length > 300) {
        this.errors.description = true;
      }
      if (!this.errors.title && !this.errors.description) {
        this.onAccept({ ...this.initTodoData });
        this.clearTodo();
      }
    },
    clearTodo() {
      this.initTodoData.title = "";
      this.initTodoData.description = "";
    },
    onCloseTodo() {
      this.onClose();
      this.clearTodo();
    },
  },
  computed: {
    titleText() {
      return this.isEditMode ? "Редактирование Todo" : "Добавление нового Todo";
    },
    confirmText() {
      return this.isEditMode ? "Готово" : "Добавить";
    },
    isEmptyTodoData() {
      return this.initTodoData.title !== undefined;
    },
    isEditMode() {
      return this.editMode;
    },
  },
};
</script>

<style>
.dialog-container {
  padding: 5px 30px;
  min-width: 550px;
}
</style>
