<template>
  <div class="container">
    <div class="todo-list" v-if="list.length > 0">
      <div :key="todo.id" v-for="(todo, index) in list" class="todo">
        <p class="todo-number">{{ index + 1 }}.</p>
        <div class="todo-information">
          <p class="title">{{ todo.title }}</p>
          <span class="description">{{ todo.description }}</span>
          <span class="date"
            >Дата добавления: {{ datePrepare(todo.date) }}</span
          >
        </div>
        <div class="todo-actions">
          <md-button
            @click="() => onEdit(todo.id)"
            class="md-icon-button md-raised md-primary"
          >
            <md-icon>edit</md-icon>
          </md-button>
          <md-button
            @click="() => onDelete(todo.id)"
            class="md-icon-button md-raised md-accent"
          >
            <md-icon>remove</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: ["list", "onDelete", "onEdit"],
  methods: {
    datePrepare(date) {
      return moment(date).format("DD/MM/YYYY");
    },
  },
};
</script>

<style lang="scss">
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .todo-list {
    margin: 20px 0;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: white;
    .todo {
      position: relative;
      display: flex;
      padding: 20px;
      border-bottom: 1px solid grey;
      &:last-of-type {
        border-bottom: none;
      }
      .todo-number {
        font-size: 20px;
        margin: 0px;
      }
      .todo-information {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        min-width: 350px;
        margin: 0 30px;
        .title,
        .description {
          overflow-wrap: break-word;
        }
        .title {
          margin-top: 0;
          font-size: 17px;
          color: #6495ed;
          max-width: 90%;
        }
        .description {
          font-size: 15px;
          max-width: 300px;
          color: #4e4e4e;
        }
        .date {
          margin-top: 10px;
          font-size: 15px;
          color: #4e4e4e;
        }
      }
      .todo-actions {
        position: absolute;
        margin-left: 30px;
        right: 10px;
      }
    }
  }
}
</style>
