<template>
  <div id="app-container">
    <Header :onAddTodo="() => handleTodoDialog(true)" />
    <TodoList :list="todoList" :onEdit="editTodo" :onDelete="deleteTodo" />
    <TodoEditor
      :isOpen="openTodoDialog"
      :onClose="handleTodoDialog"
      :initTodoData="initEditData"
      :editMode="isEditMode"
      :onAccept="acceptTodoDialog"
    />
  </div>
</template>

<script>
import moment from "moment";
import uniqid from "uniqid";

import TodoList from "./components/TodoList";
import Header from "./components/Header";
import TodoEditor from "./components/TodoEditor";

const listKey = "@todo-list-application/todo-list";

const updateStorageData = (list) => {
  localStorage.setItem(listKey, JSON.stringify(list));
};

const getStorageData = () => {
  return JSON.parse(localStorage.getItem(listKey));
};

export default {
  name: "App",
  components: {
    TodoList,
    Header,
    TodoEditor,
  },
  data() {
    return {
      initEditData: { title: "", description: "" },
      todoList: [],
      openTodoDialog: false,
      isEditMode: false,
    };
  },
  methods: {
    handleTodoDialog(isNewTodo) {
      if (this.openTodoDialog) {
        this.openTodoDialog = false;
        return;
      }
      if (isNewTodo) {
        this.isEditMode = false;
        this.initEditData = {
          title: "",
          description: "",
        };
      } else {
        this.isEditMode = true;
      }
      this.openTodoDialog = true;
    },
    acceptTodoDialog(data) {
      if (!this.isEditMode) {
        this.todoList.push({
          id: uniqid(),
          ...data,
          date: moment(),
        });
      } else {
        this.todoList = this.todoList.map((todo) => {
          if (todo.id === data.id) {
            return data;
          }
          return todo;
        });
      }
      this.initEditData = {
        title: "",
        description: "",
      };
      this.handleTodoDialog();
      updateStorageData(this.todoList);
    },
    editTodo(id) {
      this.initEditData = { ...this.todoList.find((value) => value.id === id) };
      this.handleTodoDialog(false);
    },
    deleteTodo(id) {
      this.todoList = this.todoList.filter((value) => value.id !== id);
      updateStorageData(this.todoList);
    },
    datePrepare(date) {
      return moment(date).format("DD/MM/YYYY");
    },
    storageListener(message) {
      if (message.key !== listKey) {
        return;
      }
      this.todoList = JSON.parse(message.newValue);
    },
  },
  mounted() {
    const list = getStorageData();
    if (list) {
      this.todoList = list;
    }
    window.addEventListener("storage", this.storageListener);
  },
  beforeDestroy() {
    window.removeEventListener("storage", this.storageListener);
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
}
#app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d3d3d3;
  min-height: 100vh;
}
</style>
